body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: whitesmoke;
  overflow-x: hidden;
}

.appContainer {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  width: 100vw;
  /* justify-content: space-between; */
  gap: 0.5vw;
  background-color: #1f492f;
  padding-bottom: 10vh;
}

.home-container {
  /* height: 100vh; */
  width: 50vw;
  /* border: 1px solid black; */
  /* background: linear-gradient(to bottom, #265a39 , #241b1b 90%); */
  background-color: #265a39;
  padding: 2vh;
  padding-bottom: 15vh;
}

.topHeader {
  position: absolute;
  /* display: fixed; */
  left: 24.5vw;
  width: 50vw;
  padding: 2vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.arrowheads {
  font-size: 1.75rem;
  margin: 2vh 2vh 0 0;
  padding: 0.6vh 0.5vh;
  color: whitesmoke;
  border-radius: 3rem;
  /* background-color: #241b1b; */
  cursor: pointer;
}

.arrowheads:hover {
  background-color: #1f492f;
}
 
.logo {
  display: flex;

}

.spotifyLogo {
  color: #241b1b;
  font-size: 2.5rem;
  background-color: #fff;
  border-radius: 2rem;
  border: none;
  margin: 1vh 1vw;
  align-self: center;
  cursor: pointer;
}

.logo > h1 {
  cursor: pointer;
}

.loginIcon {
  font-size: 1.25rem;
  font-weight: 700;
  padding: 1vh 2vw;
  margin-top: 2vh;
  border-radius: 3rem;
  background-color: black;
  color: whitesmoke;
  cursor: pointer;
  border: none;
}

.loginIcon:hover {
  background-color: #241b1b;
}

.loginMsg {
  /* display: block; */
  width: 100%;
  text-align: center;
}

.recentlyPlayedContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1vh 1vw;
  
  /* padding: 0 2vh; */
  /* margin-top: 7vh; */
}

.recentSongsCard {
  display: flex;
  width: 16vw;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.recentSongsCard > img {
  width: 5vw;
  height: 10vh;
  border-radius: 0.5rem;
}
.recentSongsCard > p {
  padding: 1vh;
  font-size: 1vw;
}

.artistsContainer {
  display: flex;
  justify-content: space-around;
}

.artistCard {
  padding: 2vh 0 1vh 0;
  width: 12vw;
  text-align: center;
  border-radius: 0.5rem;
  cursor: pointer;
  /* transform: scale(0.99); */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.artistCard:hover {
  /* transform: scale(1); */
  transition-duration: 1s;
  overflow: hidden;
  object-fit: cover;
}

.artistCard > img {
  width: 11vw;
  height: 23vh;
  transform: scale(0.95);
  border-radius: 0.5rem;
}

.artistCard > img:hover {
  /* height: 24vh;
  width: 11.5vw; */
  transition-duration: 1s;
  transform: scale(1);
}

.albumsContainer {
  display: flex;
  justify-content: space-around;
}

.albumsCard {
  padding: 2vh 0 1vh 0;
  width: 12vw;
  text-align: center;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.albumsCard:hover {
  /* transform: scale(1); */
  transition-duration: 1s;
  overflow: hidden;
  object-fit: cover;
}

.albumsCard > img {
  width: 11vw;
  height: 23vh;
  border-radius: 0.5rem;
  transform: scale(0.95);
}

.albumsCard > img:hover {
  /* height: 24vh;
  width: 11.5vw; */
  transition-duration: 1s;
  overflow: hidden;
  transform: scale(1);
}

.leftSideContainer {
  padding: 2vh 1vw;
  width: 25vw;
  background-color: #214c32;
  background: linear-gradient(to bottom, #214c32 , #282828 180%);
}

.home-btn {
  display: flex;
  width: 20vw;
  cursor: pointer;
  border-radius: 1rem;
}

.home-btn:hover {
  background-color: #265a39;
}

.home-btn > h2 {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.home-icon {
  font-size: 1.75em;
  padding: 1vw;
  align-self: center;
  
  /* background-color: #241b1b; */
  color: white;
}

.search-btn {
  display: flex;
  width: 20vw;
}


.search-icon {
  font-size: 1.75em;
  padding: 1vw;
  align-self: center;
}

.yourLibrary {
  width: 20vw;
  height: 70vh;
  /* padding: 1vh; */
}

.yourLibrary > p {
  margin: 1vh 0 0 1vw;
}

.libraryHeading {
  display: flex;
}

.libraryIcon {
  font-size: 1.75em;
  padding: 1vw;
  align-self: center;
}

.create-Btn {
  font-size: 1.75em;
  margin: 1vw 0 1vw 4vw;
  align-self: center;
  color: white;
  cursor: pointer;
}

.create-Btn:hover {
  border: 1px solid white;
  border-radius: 1rem;
}

.dropdown-content {
  position: absolute;
  left: 15vw;
  top: 25vh;
  width: 8vw;
  /* height: 11vh; */
  background-color: black;
  border-radius: 0.75rem;
  /* min-width: 160px; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

}

.dropdown-content li {
  padding: 1vh 1vw;
  text-decoration: none;
  display: block;
  cursor: pointer;
  margin-left: -2vw;
  text-align: center;
}

.dropdown-content li:hover {
  background-color: #241b1b;
}

/* .dropdown:hover .dropdown-content {
  display: block;
} */

.libraryOptions {
  display: flex;
}

.libraryOptionsTab {
  padding: 1vh 1.5vh;
  color: white;
  text-decoration: none;
  cursor: pointer;
  border-radius: 1.5rem;
}

.libraryOptionsTab.active {
  background-color: #265a39;
}

.libraryOptionsTab:hover {
  background-color: #265a39;
}

.libraryPlaylistsContainer{
  padding: 0 2vh;
}

.libraryPlaylistsContainer > p {
  cursor: pointer;
  padding: 1vh;
  margin-right: 3vw;
  border-radius: 1rem;
}

.libraryPlaylistsContainer > p:hover {
  background-color: #265a39;
}

.libraryAlbumsContainer{
  padding: 0 2vh;
}

.libraryAlbumsContainer > p {
  cursor: pointer;
}

.libraryArtistsContainer{
  padding: 0 2vh;
}

.rightSideContainer {
  width: 25vw;
  background-color: #224e33;
  background: linear-gradient(to bottom, #214c32 , #282828 180%);
  /* width: 22vw; */
}

.bottomPlaybar {
  width: 100vw;
  height: 10vh;
  position: fixed;
  bottom: 0;
  display: flex;
  /* justify-content: space-between; */
  /* gap: 2vw; */
  padding: 1vh 0 1vh 1vw;
  background: linear-gradient(to bottom, #1f482e , #241b1b 99%);
}

.songDetails {
  display: flex;
  align-items: center;
  width: 17vw;
  margin-right: 5vw;
}

.songDetails > img {
  width: 4vw;
  height: 8vh;
}

.songDetails > div {
  margin: 1vh 1vw;
  padding: 0;
  line-height: 0.5rem;
}

.songDetails > div > h3 {
  font-size: 1vw;
}

.songDetails > div > p {
  font-size: 0.9vw;
}

.likeBtn {
  font-size: 1.3vw;
}

.audioPlayer {
  /* align-content: center; */
  /* margin: 0 15vw 0 0; */
  margin-right: 15vw;
  padding: 0 2vw 0 2vw;
  /* align-items: center; */
}

.audioPlayer > div{
  display: flex;
  justify-content: center;
}

.prevSong,.nextSong {
  font-size: 2.5rem;
  padding: 0.5vh 1vw;
}

.pauseBtn, .playBtn {
  font-size: 1.75vw;
  padding: 1vh;
  cursor: pointer;
}

progress {
  height: 1vh;
  width: 40vw;
  margin: 0 1vh;
  /* background-color: grey; */
  accent-color: green;
  cursor: pointer;
}

.current-time, .duration {
  margin: 0 1vh 1vh 1vh;
}

.queueBtn {
  font-size: 2rem;
  justify-content: center;
  text-align: center;
}

.queueBtnDiv {
  /* width: 7vw; */
  align-self: center;
}

.createAlbum-container {
  width: 50vw;
  /* height: 80vh; */
  /* border: 1px solid black; */
  background: linear-gradient(to bottom, #265a39 , #241b1b 90%);
  padding: 0 2vh;
  padding-top: 25vh;
  padding-bottom: 20vh;
  /* text-align: center; */
}

.createAlbum-container > h1 {
  text-align: center;
  padding: 2vh;
}

.createAlbumForm {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  /* background-color: #241b1b; */
  /* background: linear-gradient(to bottom, black, #241b1b); */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
  border: none;
}

.createAlbumForm label {
  display: block;
  margin-bottom: 8px;
}

.createAlbumForm input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.createAlbumForm button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.createAlbumForm button:hover {
  background-color: #45a049;
}

.newlyCreatedAlbum {
  text-align: center;
  margin-top: 5vh;
}

.newlyCreatedAlbum > img {
  height: 25vh;
  width: 15vw;
}

.newlyCreatedPlaylist {
  text-align: center;
  margin-top: 5vh;
}

.createPlaylist-Container {
  width: 50vw;
  background: linear-gradient(to bottom, #265a39 , #241b1b 90%);
  padding: 0 2vh;
  padding-top: 25vh;
  padding-bottom: 20vh;
}

.createPlaylist-Container > h2 {
  text-align: center;
  padding: 2vh;
}

.createPlaylistForm {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  /* background-color: #241b1b; */
  /* background: linear-gradient(to bottom, black, #241b1b); */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
  border: none;
}

.createPlaylistForm label {
  display: block;
  margin-bottom: 8px;
}

.createPlaylistForm input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.createPlaylistForm select {
  margin-bottom: 20px;
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  min-height: 250px;
} 

.createPlaylistForm button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.createPlaylistForm button:hover {
  background-color: #45a049;
}

.albumDetailsContainer {
  padding: 2vh 2vw;
  padding-top: 25vh;
  padding-bottom: 10vh;
  background-color: #265a39;
  width: 50vw;
  display: flex;
  gap: 1rem;
  justify-content: space-around;
}

.albumDetailsContainer > div > img {
  width: 22vw;
  height: 55vh;
  border-radius: 1.5rem;
}

.albumDetailSongs {
  width: 25vw;
  align-content: center;
}

.albumDetailSongsCard {
  display: flex;
  width: 16vw;
  margin: 2vh;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.albumDetailSongsCard > h2 {
  padding: 1vh 2vh;
}

.artistDetailsContainer {
  /* text-align: center; */
  padding: 2vh 2vw;
  padding-top: 25vh;
  /* padding-bottom: 20vh; */
  background-color: #265a39;
  width: 50vw;
}

.artistBio {
  text-align: center;
}

.artistBio > img {
  width: 30vw;
  height: 30vh;
  border-radius: 1rem;
}

.artistDetailAlbums {
  margin-top: 10vh;
}

.artistDetailAlbums > h2 {
  text-align: center;
}

.artistDetailsContainer > .artistBio > img {
  width: 22vw;
  height: 45vh;
}

.artistDetailAlbumsCard {
  display: flex;
  width: 45vw;
  /* height: 25vh; */
  border-radius: 1rem;
  margin: 2vh;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.artistDetailAlbumsCard > img {
  width: 12vw;
  height: 24vh;
  border-radius: 1rem;
}

.artistDetailAlbumsCard > div {
  margin: auto;
}

.playlistDetailsContainer {
  padding: 2vh 2vw;
  padding-top: 20vh;
  padding-bottom: 20vh;
  /* text-align: center; */
  background-color: #265a39;
  width: 50vw;
}

.playlistDetailSongs {
    width: 25vw;
    margin: auto;
    /* padding: 10vh 0; */
}

.playlistDetailSongs > h1 {
  margin-bottom: 8vh;
  text-align: center;
}

.playlistDetailSongsCard {
  display: flex;
  width: 20vw;
  height: 10vh;
  margin: 2vh;
  padding: 0 1vw;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* cursor: pointer; */
}

.loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: absolute;
  position: fixed;
  left: 48vw;
  top: 25vh;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}
@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.5), -1.8em -1.8em 0 0em rgba(255,255,255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.5), 1.8em -1.8em 0 0em rgba(255,255,255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.5), 2.5em 0em 0 0em rgba(255,255,255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.5), 1.75em 1.75em 0 0em rgba(255,255,255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.5), 0em 2.5em 0 0em rgba(255,255,255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.5), -1.8em 1.8em 0 0em rgba(255,255,255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.5), -2.6em 0em 0 0em rgba(255,255,255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}

/* Add your own styles to customize the appearance of the progress bar */
.progress-container {
  width: 50vw;
  padding: 1vh;
  /* margin: 20px; */
}

.progressBar {
  height: 1vh;
  width: 40vw;
  border-radius: 1rem;
  background-color: white;
  position: relative;
  cursor: pointer;
}

#progress {
  height: 1vh;
  width: 40vw;
  border-radius: 1rem;
  background-color: #4caf50;
  position: absolute;
}
