body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: whitesmoke;
  overflow-x: hidden;
}

.appContainer {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  width: 100vw;
  /* justify-content: space-between; */
  gap: 0.5vw;
  background-color: #1f492f;
  padding-bottom: 10vh;
}

.home-container {
  /* height: 100vh; */
  width: 50vw;
  /* border: 1px solid black; */
  /* background: linear-gradient(to bottom, #265a39 , #241b1b 90%); */
  background-color: #265a39;
  padding: 2vh;
  padding-bottom: 15vh;
}

.topHeader {
  position: absolute;
  /* display: fixed; */
  left: 22.5vw;
  width: 50vw;
  padding: 2vh;
  display: flex;
  flex-wrap: wrap;
}

.arrowheads {
  font-size: 1.5rem;
  margin: 2vh 2vh 0 0;
  padding: 0.6vh 0.2vh;
  color: whitesmoke;
  border-radius: 3rem;
  background-color: #241b1b;
}

.spotifyLogo {
  color: #241b1b;
  font-size: 2.5rem;
  background-color: #fff;
  border-radius: 2rem;
  border: none;
  margin-left: 13vw;
  margin-right: 1vw;
  align-self: center;
}

.loginIcon {
  font-size: 1.25rem;
  font-weight: 700;
  position: absolute;
  top: 2vh;
  right: 1vw;
  padding: 1vh 2vw;
  margin-top: 1vh;
  border-radius: 3rem;
  background-color: black;
  color: whitesmoke;
  cursor: pointer;
  border: none;
}

.loginMsg {
  /* display: block; */
  width: 100%;
  text-align: center;
}

.recentlyPlayedContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1vh 1vw;
  padding: 0 4vh;
  /* margin-top: 7vh; */
}

.recentSongsCard {
  display: flex;
  width: 14vw;
  justify-content: space-between;
  align-items: center;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.recentSongsCard > img {
  width: 5vw;
  height: 10vh;
}
.recentSongsCard > p {
  padding: 1vh;
}

.artistsContainer {
  display: flex;
  justify-content: space-around;
}

.artistCard {
  padding: 2vh 0 1vh 0;
  width: 12vw;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.artistCard > img {
  width: 11vw;
  height: 23vh;
}

.albumsContainer {
  display: flex;
  justify-content: space-around;
}

.albumsCard {
  padding: 2vh 0 1vh 0;
  width: 12vw;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.albumsCard > img {
  width: 11vw;
  height: 23vh;
}

.leftSideContainer {
  padding: 2vh 1vw;
  width: 20vw;
  background-color: #214c32;
  background: linear-gradient(to bottom, #214c32 , #282828 180%);
}

.home-btn {
  display: flex;
  width: 20vw;
  cursor: pointer;
}

.home-btn > h2 {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.home-icon {
  font-size: 1.75em;
  padding: 1vw;
  align-self: center;
  
  /* background-color: #241b1b; */
  color: white;
}

.search-btn {
  display: flex;
  width: 20vw;
}


.search-icon {
  font-size: 1.75em;
  padding: 1vw;
  align-self: center;
  /* color: white; */
  /* background-color: #241b1b; */
  /* color: white; */
}

.yourLibrary {
  width: 20vw;
  height: 70vh;
  /* padding: 1vh; */
}

.libraryHeading {
  display: flex;
}

.libraryIcon {
  font-size: 1.75em;
  padding: 1vw;
  align-self: center;
}

.create-Btn {
  font-size: 1.75em;
  padding: 1vw 0 1vw 4vw;
  align-self: center;
  color: white;
  cursor: pointer;
}

.dropdown-content {
  position: absolute;
  left: 15vw;
  top: 22vh;
  width: 8vw;
  background-color: black;
  /* min-width: 160px; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

}

.dropdown-content li {
  padding: 12px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  margin-left: -2vw;
}

.dropdown-content li:hover {
  background-color: #241b1b;
}

/* .dropdown:hover .dropdown-content {
  display: block;
} */

.libraryOptions {
  display: flex;
}

.libraryOptionsTab {
  padding: 0 1vh;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.libraryPlaylistsContainer{
  padding: 0 2vh;
}

.libraryAlbumsContainer{
  padding: 0 2vh;
}

.libraryArtistsContainer{
  padding: 0 2vh;
}

.rightSideContainer {
  width: 25vw;
  background-color: #224e33;
  background: linear-gradient(to bottom, #214c32 , #282828 180%);
  /* width: 22vw; */
}

.bottomPlaybar {
  width: 100vw;
  height: 10vh;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 1vh 1vw;
  background: linear-gradient(to bottom, #1f482e , #241b1b 99%);
}

.songDetails {
  display: flex;
  align-items: center;
  width: 17vw;
}

.songDetails > img {
  width: 4vw;
  height: 8vh;
}

.songDetails > div {
  margin: 1vh 1vw;
  padding: 0;
  line-height: 0.5rem;
}

.likeBtn {
  font-size: 1.5rem;
}

.audioPlayer {
  padding: 0 16vw 0 2vw;
  align-self: center;
}

.audioPlayer > div{
  display: flex;
  justify-content: center;
}

.prevSong,.nextSong {
  font-size: 2.5rem;
  padding: 0.5vh 1vw;
}

.pauseBtn, .playBtn {
  font-size: 2rem;
  padding: 1vh;
  cursor: pointer;
}

progress {
  height: 1vh;
  width: 40vw;
  margin: 0 1vh;
  padding: 0;
  /* background-color: grey; */
  accent-color: green;
  cursor: pointer;
}

.queueBtn {
  font-size: 2rem;
  justify-content: center;
}

.queueBtnDiv {
  width: 7vw;
  align-self: center;
}

.createAlbum-container {
  width: 50vw;
  /* height: 80vh; */
  /* border: 1px solid black; */
  background: linear-gradient(to bottom, #265a39 , #241b1b 90%);
  padding: 0 2vh;
  padding-top: 15vh;
  padding-bottom: 20vh;
  /* text-align: center; */
}

.createAlbum-container > h1 {
  text-align: center;
  padding: 2vh;
}

.createAlbumForm {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  /* background-color: #241b1b; */
  /* background: linear-gradient(to bottom, black, #241b1b); */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
  border: none;
}

.createAlbumForm label {
  display: block;
  margin-bottom: 8px;
}

.createAlbumForm input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.createAlbumForm button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.createAlbumForm button:hover {
  background-color: #45a049;
}

.createPlaylist-Container {
  width: 50vw;
  background: linear-gradient(to bottom, #265a39 , #241b1b 90%);
  padding: 0 2vh;
  padding-top: 15vh;
  padding-bottom: 20vh;
}

.createPlaylist-Container > h2 {
  text-align: center;
  padding: 2vh;
}

.createPlaylistForm {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  /* background-color: #241b1b; */
  /* background: linear-gradient(to bottom, black, #241b1b); */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
  border: none;
}

.createPlaylistForm label {
  display: block;
  margin-bottom: 8px;
}

.createPlaylistForm input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.createPlaylistForm select {
  margin-bottom: 20px;
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  min-height: 250px;
} 

.createPlaylistForm button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.createPlaylistForm button:hover {
  background-color: #45a049;
}